*{margin:0;padding:0;}
#nav-wrap{height:1900px;background:#f0f9ff;margin-top:40px;position:relative;}
#nav{height:60px;background:#0F9;top:300px;position:absolute;width:100%;}
#nav li{float:left;width:20%;line-height:60px;text-align:center;list-style:none;}
#nav li:hover{background:#F90;}